dl {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    width: 100%;
    overflow: visible;
}

dt {
    flex: 0 0 20%;
    text-overflow: ellipsis;
    overflow: hidden;
    background: rgb(7, 16, 95);
    color: white;
    text-align: right;
    padding: 3px;
}

dd {
    flex: 0 0 75%;
    margin-left: auto;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 3px;
}